<h1>Register Form</h1>
<form [formGroup]="registerForm">

    Username:<input type="text" formControlName="username"><br><br>
    Email:<input type="text" formControlName="email"><br><br>
    Password:<input type="password" formControlName="password"><br><br>
    <input type="submit" value="Register" (click)="registeruser()">

</form>
<div *ngIf="email && !username"> Account already exists on this email </div>
<div *ngIf="username"> This username has already been taken </div>
<!-- <div *ngIf="username && email"> This username has already been taken </div> -->